<div class="list-container">
    <div class="contact">
        <img src="../../assets/do-utilizador.svg" alt="Contact Image" class="contact-img"/>
        <a routerLink="#" class="contact-name">Contact Name</a>

        <div class="control-buttons">
            <a routerLink="#" class="fa fa-pencil-square-o" aria-hidden="true"></a>
            <a routerLink="#"class="fa fa-trash" aria-hidden="true"></a>
        </div>
    </div>

    <div class="contact">
        <img src="../../assets/do-utilizador.svg" alt="Contact Image" class="contact-img"/>
        <a routerLink="#" class="contact-name">Contact Name</a>

        <div class="control-buttons">
            <a routerLink="#" class="fa fa-pencil-square-o" aria-hidden="true"></a>
            <a routerLink="#"class="fa fa-trash" aria-hidden="true"></a>
        </div>
    </div>
</div>
