<div class="contact-container">
    <div class="go-back">
        <a routerLink="#" aria-hidden="true">
            <i class="fa fa-arrow-left" ></i>
            Go back to list
        </a>
    </div>

    <div class="contact-buttons">
        <a routerLink="#"class="fa fa-trash" aria-hidden="true"></a>
        <a routerLink="#" class="fa fa-pencil-square-o" aria-hidden="true"></a>
        <a routerLink="#" class="fa fa-phone" aria-hidden="true"></a>
    </div>

    <div class="contact">
        <img src="../../assets/do-utilizador.svg" alt="Contact Image" class="contact-detail-img"/>

        <div class="contact-details">
            <span>Contact Name</span>
            Phone: xxxxx-xxxx <br/>
            Email: contact@email.com <br/>
            Address: Anywhere, 71 Down <br/>
        </div>
    </div>
</div>
