@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Roboto&display=swap');

// Colors
$beau-blue: #BAD7F2;
$cerise: #D8315B;
$sandy-brown: #F1A66A;
$yellow-cray: #F7EE7F;
$majo-blue: #6E44FF;
$dark-green: #162521;
$green-pan: #4CA94C;
$light: #FCFCFC;

// Fonts
$grand-hotel: 'Grand Hotel';
$roboto: 'Roboto', sans-serif;